In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.options.display.float_format = '{:.2f}'.format

In [4]:
df=pd.read_csv('ETL_Dados_Parcial.csv', sep=';')
df.head()

,Anos,Nascimentos,Nasc. M,Nasc. F,Obitos,Obitos M,Obitos F,Populacao Residente Total,Populacao Homens,Populacao Mulheres
0,1900,165245,85274,79971,110330,56304,54026,5446760,NaN,NaN
1,1920,202908,103984,98924,142862,72220,70662,6080135,NaN,NaN
2,1930,202529,103928,98601,116352,59508,56844,6802429,NaN,NaN
3,1940,187892,97147,90745,120486,60930,59556,7755423,3734348.00,4021075.00
4,1950,205163,106025,99138,102798,52366,50432,8510240,4120184.00,4390056.00

In [5]:
df.shape

(51, 10)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Anos                       51 non-null     int64
 1   Nascimentos                51 non-null     int64
 2   Nasc. M                    51 non-null     int64
 3   Nasc. F                    51 non-null     int64
 4   Obitos                     51 non-null     int64
 5   Obitos M                   51 non-null     int64
 6   Obitos F                   51 non-null     int64
 7   Populacao Residente Total  51 non-null     int64
 8   Populacao Homens           48 non-null     float64
 9   Populacao Mulheres         48 non-null     float64
dtypes: float64(2), int64(8)
memory usage: 4.1 KB

In [7]:
change_var_int = df
change_var_int = ['Populacao Homens', 'Populacao Mulheres']

for col in change_var_int:
    df[col] = pd.to_numeric(df[col], errors='coerce').astype('Int64')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Anos                       51 non-null     int64
 1   Nascimentos                51 non-null     int64
 2   Nasc. M                    51 non-null     int64
 3   Nasc. F                    51 non-null     int64
 4   Obitos                     51 non-null     int64
 5   Obitos M                   51 non-null     int64
 6   Obitos F                   51 non-null     int64
 7   Populacao Residente Total  51 non-null     int64
 8   Populacao Homens           48 non-null     Int64
 9   Populacao Mulheres         48 non-null     Int64
dtypes: Int64(2), int64(8)
memory usage: 4.2 KB

#### Verificar se h√° dados nulos

In [10]:
df.isnull().sum()

Anos                         0
Nascimentos                  0
Nasc. M                      0
Nasc. F                      0
Obitos                       0
Obitos M                     0
Obitos F                     0
Populacao Residente Total    0
Populacao Homens             3
Populacao Mulheres           3
dtype: int64

In [13]:
valores_unicos = []
for i in df.columns[0:11].tolist():
    print(i, ':', len(df[i].astype('Int64').value_counts()))
    valores_unicos.append(len(df[i].astype('Int64').value_counts()))

Anos : 51
Nascimentos : 51
Nasc. M : 51
Nasc. F : 51
Obitos : 51
Obitos M : 51
Obitos F : 51
Populacao Residente Total : 51
Populacao Homens : 48
Populacao Mulheres : 48