In [3]:
import pandas as pd
import plotly.express as px
df = pd.read_csv('ETL_Imigracao_1960_a_2023.csv', sep=';', encoding='latin1')

In [4]:
df.head()

    Ano    Regiao Pais de Origem  Total
0  1960  Portugal         Africa   96.0
1  1960  Portugal         Angola    NaN
2  1960  Portugal     Cabo Verde    NaN
3  1960  Portugal   Guine-Bissau    NaN
4  1960  Portugal     Mocambique    NaN

In [ ]:
fig.write_html('')